/build/GUI_test1/Analysis-00.toc
/build/GUI_test1/base_library.zip
/build/GUI_test1/EXE-00.toc
/build/GUI_test1/GUI_test1.pkg
/GUI_test1.spec
/build/GUI_test1/PKG-00.toc
/build/GUI_test1/PYZ-00.pyz
/build/GUI_test1/PYZ-00.toc
/build/GUI_test1/warn-GUI_test1.txt
/build/GUI_test1/xref-GUI_test1.html
